<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование читателя</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/library/people/{id}(id=${person.getId()})}" th:object="${person}" >
        <label for="name">Введите ФИО полностью:</label>
        <input type="text" th:field="*{name}" id="name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>

        <br/>

        <label for="year">Введите год рождения:</label>
        <input type="text" th:field="*{year}" id="year">
        <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
        <br/>
        <input type="submit" value="Редактировать!">
    </form>

    <hr/>

            <a th:href="@{/library/people}">Все читатели</a>
    <br>

            <a th:href="@{/library/books}">Все книги</a>
    <br>

            <a th:href="@{/library}">На главную</a>
</body>
</html>